<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control" formControlName="email">
    <app-mensagem mensagem="E-mail obrigatório"
    *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched"></app-mensagem>
    <app-mensagem mensagem="E-mail no formato incorreto"
    *ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Nome completo" name="name" id="name" class="form-control" formControlName="fullName">
    <app-mensagem mensagem="Nome incorreto" *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Usuário" name="usuario" id="usuario" class="form-control" formControlName="userName">
    <app-mensagem mensagem="Usuário deve ser em letras minúsculas"
    *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched"></app-mensagem>
    <app-mensagem mensagem="Usuário já existe"
    *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="password" placeholder="Senha" name="senha" id="senha" class="form-control" formControlName="password">
    <app-mensagem mensagem="Senha deve ser diferente do usúario" *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario">

    </app-mensagem>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>

</form>

<p>Já é cadastrado? <a [routerLink]="['']">Volte ao login</a></p>
